@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');
body {
    font-family: 'Courier New', Courier, monospace
}
.inset-text {
    /* Shadows are visible under slightly transparent text color */
    color: rgba(10,60,150, 0.8);
    text-shadow: 1px 4px 6px #def, 0 0 0 #000, 1px 4px 6px #def;
}
/* Don't show shadows when selecting text */
::-moz-selection { background: #5af; color: #fff; text-shadow: none; }
::selection { background: #5af; color: #fff; text-shadow: none; }

/* Always set the map height explicitly to define the size of the div
* element that contains the map. */
#map {
    height: 100%;
}
/* Optional: Makes the sample page fill the window. */

#locationField, #controls {
    position: relative;
    width: 480px;
}
#autocomplete {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 99%;
}
.label {
    text-align: right;
    font-weight: bold;
    width: 100px;
    color: #303030;
}

#address td {
    font-size: 10pt;
}
.field {
    width: 99%;
}
.slimField {
    width: 80px;
}
.wideField {
    width: 200px;
}
#locationField {
    height: 20px;
    margin-bottom: 2px;
}